<%= form_with model: [ @article, @article.comments.build ] do |form|%>
<!-- comments實體方法是由model設定has_many :comments長出來的 -->
<!-- build後還要save才會寫進資料庫 -->
    <p>
        <%= form.label :commenter, '留言者' %><br>
        <%= form.text_field :commenter %>
    </p>
    <p>
        <%= form.label :body, '留言' %><br>
        <%= form.text_area :body %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>
<!-- 這會在 Article 顯示頁面上 新增一個表單，透過呼叫 CommentsController 的 create 動作來建立新的留言。
    此處的 form_with 呼叫 使用 陣列，這會建立 巢狀路由，例如 /articles/1/comments。 -->

<!-- @article 物件可供在檢視中呈現的任何部分使用，因為我們已將其定義為一個執行個體變數。 -->