
<!-- 我們的 edit 表單看起來會跟我們的 new 表單一樣。甚至程式碼也會一樣，這要感謝 Rails 表單建構器 和 有用的路由。表單建構器 會 根據 模型物件 是否 先前已儲存，自動設定表單 以提出 適當類型的要求。
由於程式碼會相同，我們會將其分解成一個稱為部分的共用檢視。 -->

<!-- 以上的程式碼跟我們在 app/views/articles/new.html.erb 中的表單相同，只不過所有 @article 的出現都已替換為 article。
    由於部分是共用程式碼，因此最佳做法是 不要 讓它們 依賴 控制器動作 設定 的 特定執行 實體變數。我們會將文章作為一個 區域變數 傳遞給 部分。 -->

<%= form_with model: article do |form| %>
    <!-- form_with 輔助方法會建立一個 表單產生器。在 form_with 區塊中，我們會呼叫 表單產生器上的 方法，例如 label 和 text_field，以輸出適當的表單元素。 -->
    <div>
        <%= form.label :title, '文章標題'%><br>
        <%= form.text_field :title %>
        <!-- <input type="text" name="article[title]" id="article_title" /> -->
        <!-- 在我們的 驗證 就緒後，讓我們修改 app/views/articles/new.html.erb 以顯示 title 和 body 的任何錯誤訊息 -->
        <% article.errors.full_messages_for(:title).each do |message| %>
        <!-- full_messages_for 方法 會傳回 指定屬性 的 使用者 友善錯誤 訊息 陣列。如果該屬性沒有錯誤，陣列 將會是 空的。 -->
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :body, '文章內文'%><br>
        <%= form.text_area :body %>
        <% article.errors.full_messages_for(:body).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <!-- 最後，我們會在表單中新增一個 選取方塊，並讓使用者在 建立新文章 或 發布新留言時 選擇狀態。
        我們也可以選擇 物件的狀態，或者如果尚未設定，則預設為 public。 -->
    <div>
        <%= form.label :status, '文章狀態' %><br>
        <%= form.select :status, Visible::VALID_STATUSES, selected: article.status || 'public' %>
        <!-- Visible::VALID_STATUSES 模組名稱::模組中的可見狀態陣列 -->
        <!-- 下拉式選單，選單內容為 Visible模組中的可見狀態陣列 中的元素，選擇的選項送出後要寫到 articles資料表中的status欄位，沒選的話預設為'public'-->
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>
    
    <!-- 
    <form action="/articles" accept-charset="UTF-8" method="post">
        <input type="hidden" name="authenticity_token" value="dzxT9dHpRPWoqSJnILLj94O3-olxNKlhNDApAabmerFRfNNX7WKW6DNq-6PC1Itox4CUYyYSpUg2rGt96CXVwg" autocomplete="off" />
        <div>
            <label for="article_title">文章標題</label><br>
            <input type="text" name="article[title]" id="article_title" />
        </div>
    
        <div>
            <label for="article_body">文章內文</label><br>
            <textarea name="article[body]" id="article_body">
    </textarea>
        </div>
        <div>
            <input type="submit" name="commit" value="Create Article" data-disable-with="Create Article" />
        </div>
    </form> -->